---
const { title = "Rifqy Hazim HR" } = Astro.props;
import Header from "../components/Header.astro";
import "../styles/theme.css";
import "../styles/global.css";
import { withBase } from "../utils/paths";
---
<html lang="id" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href={withBase("/favicon.svg")} />
  </head>
  <body>
    <Header />
    <main class="wrap">
      <slot />
    </main>
  </body>
</html>
